@font-face{
    font-family:'SFU-A';
    src: url('../font/SFUDINEngAlt.woff') format('woff');
    src: url('../font/SFUDINEngAlt.woff2') format('woff2');
    display: fallback;
}

@font-face{
    font-family:'SFU-R';
    src: url('../font/SFUDINLight.woff') format('woff');
    src: url('../font/SFUDINLight.woff2') format('woff2');
    display: fallback;
}


@font-face{
    font-family: 'UTM';
    src: url('../font/UTMAvo.woff') format('woff');
    src: url('../font/UTMAvo.woff2') format('woff2');
    display: fallback;
}

@font-face{
    font-family: 'UTM-B';
    src: url('../font/UTMAvoBold.woff') format('woff');
    src: url('../font/UTMAvoBold.woff2') format('woff2');
    display: fallback;
}
