.yatch{
    .banner{
        position: relative;
        background-image: url('../../../img/yacht/banner/banner.jpg');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        
        .filter{
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            max-height: 110px;
            background: $crystalBlue;
            .row{
                padding: 45px 0;
            }
            &__item{
                --fs-small:14px;
                padding-right: 50px;
                .option{
                    display: none;
                }
                .select{
                    @include midflex();
                    justify-content: space-between;
                    .text{
                        h6{
                            @include text($fs-small,'Inter-R',$lh-small,$white-cl,none);
                        }
                        span{
                            @include text(var(--fs-small),'Inter-R',$lh-small,#979797,none);
                        }
                    }
                }
            }
        }
    }
}