a {
    // color: $text-cl;
    text-decoration: none;
    display: block;
}

main{
    .banner{
        background-image: url('./../../../img/home/banner/banner.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        width: 100%;
        height: 100vh;
        @include midflex();
        position: relative;
        &::after{
            content: "";
            width: 100%;
            height: 100%;
            background: rgba($color: #000000, $alpha: .2);  
            left: 0;
            top: 0;         
            position: absolute; 
        }

        .box-main{
            max-width: 650px;
            position: relative;
            z-index: 5;
            .caption{
                text-align: center;
                margin-bottom: 10px;
                h1{
                    @include text($fs-main,'Phi-R',$lh-small,$white-cl,none);
                }
                h6{
                    margin: auto;
                    max-width: 445px;
                    padding-top: 10px;
                    @include text($fs-small,'Inter-R',$lh-medium,$white-cl,none);
                }
            }
            .find{
                @include midflex();
                justify-content: space-between;
                width: 645px;
                height: 100px;
                position: relative;
                margin-top: 20px;
                z-index: 50;

                &::after{
                    content: "";
                    width: 100%;
                    height: 100%;
                    background: $crystalBlue;
                    opacity: .8;
                    position: absolute;
                    top: 0;
                    left: 0;
                }
                &-left, &-right{
                    width: 50%;
                    height: 100%;
                    @include midflex();
                    justify-content: space-around;
                    z-index: 5;
                    cursor: pointer;
                    position: relative;
                    .text{
                        h6{
                            @include text($fs-small,'Inter-R',$fs-small,$white-cl,none);
                        }
                        span{
                            @include text(16px,'Inter-R',$fs-small,grey,none);
                        }
                    }
                    .down{
                        @include midflex();
                        img{
                            cursor: pointer;
                            transition: transform .4s;
                        }
                        .active{
                            transform: rotate(-90deg);
                            transition: transform .4s;
                        }

                        .search{
                            margin-left: 40px;
                            background: #239FA6;
                            border-radius: 50%;
                            padding: 15px;
                            transition: box-shadow .4s;

                            &:hover{
                                box-shadow: 0px 0px 11px 8px rgba(245,233,233,0.25);
                                -webkit-box-shadow: 0px 0px 11px 8px rgba(245,233,233,0.25);
                                -moz-box-shadow: 0px 0px 11px 8px rgba(245,233,233,0.25);
                            transition: box-shadow .4s;
                        }
                        }
                    }

                 
                    .location{
                        bottom: -227%;
                        display: none;
                    }
                    .people{
                        bottom: -170%;
                        display: none;
                    }
                    .slide{
                        width: 100%;
                        position: absolute;
                        left: 0;
                        background: $crystalBlue;
                        list-style-type: none;
                        z-index: 50;
                        li{
                            padding: 20px;
                            transition: all .3s;
                            a{
                                @include text($fs-small,'Inter-R',$fs-small,$white-cl,none);
                            }
                            &:hover{
                                background: rgba($color: #ffffff, $alpha: .2);
                                opacity: .8;
                                transition: all .3s;
                            }
                        }
                    }
                }

                &-left{
                    border-right: 1px solid $white-cl;
                }
            }
        }
    }

    .advisory{
        background: url('../../../img/home/banner/banner-2.jpg');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        padding: 140px 0;

        .box-advis{
            --fs-title:42px;
            --fs-des:24px;
            max-width: 660px;
            margin-left: auto;
            padding: 65px 0 65px 65px;

            .caption{
                text-align: center;
                h3{
                    margin-bottom: 15px;
                    @include text(var(--fs-title),'Phi-R',$lh-small,$black-cl,none);
                }
                p{
                    @include text(var(--fs-des),'Inter-R',$lh-small,$black-cl,none);
                }
                .advis{
                    font-size: $fs-small;
                    a{
                        color: #03CEDA;
                    }
                }
                .detail{
                    @include midflex();
                    input{
                        margin: 30px 0;
                        width: 475px;
                        height: 50px;
                        border: 2px solid lightgray;
                        outline: none;
                        padding: 10px;
                        @include text($fs-small,'Inter-R',$lh-small,$black-cl,none);
                    }
                    button{
                        cursor: pointer;
                        width: 140px;
                        height: 50px;
                        background: #03CEDA;
                        @include text($fs-small,'Inter-R',$lh-small,$white-cl,none);
                        border: none;
                        transition: background .4s;

                        &:hover{
                            background: rgba($color: #000000, $alpha: .4);
                            transition: background .4s;
                        }
                    }
                }
            }
        }
    }
    .map{
        background: url('../../../img/bannner/Map.jpg');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        padding: 110px 0;
        
       .container{
           position: relative;
       }
        
        .caption{
            h2{
                margin-bottom: 30px;
                @include text($fs-main,'Phi-R',$lh-small,$white-cl,none);
            }
 
            .list__contact{
                @include midflex();
                flex-direction: column;
                max-width: 420px;
                margin-bottom: 40px;
 
                li{
                    width: 100%;
                    margin-bottom: 22px;
                    @include midflex();
                    justify-content:flex-start;
                    a{
                        margin-left: 15px;
                         @include text($fs-small,'Inter-R',$lh-medium,$white-cl,none);
                    }
                }
 
            }
 
            .list__link{
                @include midflex();
                justify-content: flex-start;
 
                li{
                    margin-right: 12px;
                    a{
                        width: 30px;
                        height: 30px;
                        @include midflex();
                        border-radius: 50%;
                        background: $grey;
                    }
                }
            }
        }

        .share__map{
            background: $black-cl;
            @include midflex();
            display: inline-flex;
            position: relative;
            right: 0;
            bottom: 0;
            position: absolute;
            transition: background .4s;

            a{
                padding: 14px 24px;
                transition: color .4s;
                span{
                    @include text($fs-small,'Phi-R',$lh-small,$white-cl,none);
                }
            }
            &:hover{
                background: rgba($color: #ffffff, $alpha: .8);
                transition: background .4s;
                a{
                    span{
                        color: $black-cl;
                        transition: color .4s;
                    }
                }
            }
        }
    }
}
@include tablet{
    .wrapper{
        .container{
            .sec-2{
                .grid{
                    &__detail{
                        grid-template-columns: repeat(3, 219px);
                        grid-template-rows: repeat(3, 150px);
                    }
                }
            }
        }
    }
}
@include mobile{
    main{
        .banner{
            .box-main{
                .caption{
                    h1{
                        font-size: 32px;
                    }
                    h6{
                        font-size: 12px;
                    }
                }
                .find{
                    flex-direction: column;
                    width: 300px;
                    height: 200px;
                    justify-content: center;

                    &-left{
                        border-right: none;
                        border-bottom: 1px solid $white-cl;
                    }
                    &-left, &-right{
                        width: 100%;
                        padding: 30px 0;
                    }
                }
            }
        }
        .advisory{
            padding: 20px 0;
            .box-advis{
                padding: 40px 0;
                .caption{
                    .detail{
                        input{
                            width: 220px;
                        }
                    }
                }
            }
        }
        .map{
            .share__map{
                position: relative;
                margin-top: 30px;
            }
        }
    }
}



.arrow{
    
}