footer {
	padding: 85px 0;
	background: $grey;
	--fs-small:14px;
	--fs-medium:24px;
	.caption, .about, .register{
		padding: 0 15px;
	}

	.caption{
		.brand{
			margin-bottom: 20px;
		}
		.des{
			@include text(var(--fs-small),'Inter-R',$lh-medium,$white-cl,none);
		}
	}

	.about{
		.title{
			@include text(var(--fs-medium),'Phi-R',$lh-medium,$white-cl,none);
			margin-bottom: 30px;
		}

		.menu{
			@include midflex();
			justify-content: flex-start;

			ul{
				padding:0 20px;
				border-left: 2px solid #737D80;
				li{
					margin-bottom: 20px;
					a{
						@include text($fs-small,'Inter-R',$lh-medium,$white-cl,none);
						position: relative;

						&::after{
							content: "";
							width: 0%;
							height: 3px;
							background: $white-cl;
							display: block;
							position: absolute;
							bottom: 0;
							left: 0;
							transition: width  .3s;

						}

						&:hover{
							&::after{
								width: 100%;
								transition: width  .3s;
							}
						}
					}
				}

				
			}
		}
	}

	.register{
		h3{
			@include text(var(--fs-medium),'Phi-R',$lh-medium,$white-cl,none);
			margin-bottom: 35px;
		}

		.detail{
			@include midflex();
			justify-content: flex-start;
			input{
				width: 400px;
				height: 40px;
				outline: none;
				background: $white-cl;
				padding: 10px;
				border: none;
			}
			button{
				width: 50px;
				height: 40px;
				background: #03CEDA;
				border: none;
				cursor: pointer;
				transition: background .3s;
				img{
					width: 20px;
					height: 20px;
				}

				&:hover{
					background: grey;
					transition: background .3s;
				}
			}
		}
		p{
			margin-top: 20px;
			@include text(var(--fs-small),'Inter-R',$lh-medium,$white-cl,none);
		}
	}

	@include desktop {
		
	}
	@include tablet {
		.caption, .about, .register{
			padding: 0 5px;
		}
	
		.caption{
			.des{
				display: -webkit-box;
				-webkit-line-clamp: 4;
				-webkit-box-orient: vertical;
				overflow: hidden;
			}
		}
		.about{
			.menu{
				ul{
					padding: 0 5px;
					border-left: none;
				}
			}
		}
		.register{
			.detail{
				flex-direction: column;
				align-items: flex-start;
				input{
					width: 100%;
				}
			}
		}
		
	}
	@include mobile {
		
		
	}
	@include mobile-xxs {
		
	}
}
