footer {
	padding: 85px;
	background: $grey;
	--fs-small:14px;
	--fs-medium:24px;
	.caption{
		.brand{
			margin-bottom: 20px;
		}
		.des{
			@include text(var(--fs-small),'Inter-R',$lh-medium,$white-cl,none);
		}
	}

	.about{
		.title{
			@include text(var(--fs-medium),'Phi-R',$lh-medium,$white-cl,none);
			margin-bottom: 30px;
		}

		.menu{
			@include midflex();
			justify-content: flex-start;

			ul{
				padding:0 20px;
				border-left: 2px solid #737D80;
				li{
					margin-bottom: 20px;
					a{
						@include text($fs-small,'Inter-R',$lh-medium,$white-cl,none);
					}
				}

				
			}
		}
	}

	.register{
		h3{
			@include text(var(--fs-medium),'Phi-R',$lh-medium,$white-cl,none);
			margin-bottom: 35px;
		}

		.detail{
			input{
				width: 400px;
				height: 40px;
				border:1px solid #737D80;
				out
			}
		}
	}

	@include desktop {
		
	}
	@include tablet {
		
	}
	@include mobile {
		
	}
	@include mobile-xxs {
		
	}
}
